<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>代理后台</title>

		<meta name="keywords" content="">
		<meta name="description" content="">

		<!--[if lt IE 9]>
	    <meta http-equiv="refresh" content="0;ie.html" />
	    <![endif]-->

		<link rel="shortcut icon" href="favicon.ico">
		<link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">
	</head>

	<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

		<div id="wrapper">
			<!--左侧导航开始-->
			<nav class="navbar-default navbar-static-side" role="navigation">
				<div class="nav-close"><i class="fa fa-times-circle"></i>
				</div>
				<div class="sidebar-collapse">
					<ul class="nav" id="side-menu">
						<li class="nav-header">
							<!--<span style="color:white;padding-bottom:20px;: ">留言未处理</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="liuyan" style="background: red; border-radius: 10px; color: white; padding: 4px;">加载中</span><br><br>-->
							<!--<span style="color:white;padding-bottom:20px;: ">上下分未处理</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="weichuli" style="background: red; border-radius: 10px; color: white; padding: 4px;">加载中</span>-->
							<div class="dropdown profile-element">
								<span><img alt="image" class="img-circle" src="__PUBLIC__/Admin/img/profile_small.jpg" /></span>
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="clear">
                               			<span class="block m-t-xs"><strong class="font-bold">{$Think.session.agent.username}</strong></span>
									<span class="text-muted text-xs block">代理中心<b class="caret"></b></span>
									</span>
								</a>
								<ul class="dropdown-menu animated fadeInRight m-t-xs">
									<li>
										<a class="J_menuItem" href="{:U('agent/Index/pwd')}">修改密码</a>
									</li>
									<li>
										<a href="{:U('agent/Index/del')}">清理缓存</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="{:U('agent/Login/logout')}">安全退出</a>
									</li>
								</ul>
							</div>
							<div class="logo-element">M</div>
						</li>
						<li>
							<a href="{:U('agent/Index/index')}">
								<i class="fa fa-home"></i>
								<span class="nav-label">主页</span>
							</a>
						</li>
                        <li>
							<if condition="$agent['d_id'] eq 1">
                            <a href="{:U('agent/Member/daili')}" class="J_menuItem">
                                <i class="fa fa fa-bar-chart-o"></i>
                                <span class="nav-label">
									代理管理
								</span>
                            </a>
							</if>
                        </li>
						<li>
							<if condition="$agent['d_id'] eq 1">
								<a href="{:U('agent/Member/adddaili')}" class="J_menuItem">
									<i class="fa fa fa-bar-chart-o"></i>
									<span class="nav-label">
									添加代理
								</span>
								</a>
								<else/>
								<a href="{:U('agent/Member/zhitui',array('uid'=>$agent['id']))}" class="J_menuItem">
									<i class="fa fa fa-bar-chart-o"></i>
									<span class="nav-label">
									我的下线
								</span>
								</a>
							</if>
						</li>
						<li>
							<a href="{:U('agent/Member/index')}" class="J_menuItem">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">会员列表</span>
							</a>
						</li>
                        <li>
                            <a href="{:U('agent/Order/index')}" class="J_menuItem">
                                <i class="fa fa fa-bar-chart-o"></i>
                                <span class="nav-label">竞猜流水</span>
                            </a>
                        </li>
						<li>
							<a href="{:U('agent/Order/lists')}" class="J_menuItem">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">上下分记录</span>
							</a>
						</li>
						<if condition="$agent['d_id'] eq 2">
						<li>
							<a href="{:U('agent/member/geterweima')}" class="J_menuItem">
								<i class="fa fa fa-bar-chart-o"></i>
								<span class="nav-label">推广二维码</span>
							</a>
						</li>
						</if>
						<if condition="$agent['d_id'] eq 2">
							<li>
								<a href="{:U('agent/order/user_win_lose')}" class="J_menuItem">
									<i class="fa fa fa-bar-chart-o"></i>
									<span class="nav-label">会员输赢</span>
								</a>
							</li>
							<else/>
							<li>
								<a href="{:U('agent/order/dali_win_lose')}" class="J_menuItem">
									<i class="fa fa fa-bar-chart-o"></i>
									<span class="nav-label">代理输赢</span>
								</a>
							</li>
						</if>
                      </ul>
				</div>
			</nav>
			<!--左侧导航结束-->
			<!--右侧部分开始-->
			<div id="page-wrapper" class="gray-bg dashbard-1">
				<div class="row border-bottom">
					<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
						<div class="navbar-header" style="width: 10%;">
							<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
						</div>
					</nav>
				</div>

				<div class="row content-tabs">
					<button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
                </button>
					<nav class="page-tabs J_menuTabs">
						<div class="page-tabs-content">
							<a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
						</div>
					</nav>
					<button class="roll-nav roll-right J_tabRight"><i class="fa fa-forward"></i></button>
					<div class="btn-group roll-nav roll-right">
						<button class="dropdown J_tabClose" data-toggle="dropdown">关闭操作<span class="caret"></span></button>
						<ul role="menu" class="dropdown-menu dropdown-menu-right">
							<li class="J_tabShowActive">
								<a>定位当前选项卡</a>
							</li>
							<li class="divider"></li>
							<li class="J_tabCloseAll">
								<a>关闭全部选项卡</a>
							</li>
							<li class="J_tabCloseOther">
								<a>关闭其他选项卡</a>
							</li>
						</ul>
					</div>
					<a href="{:U('agent/Login/logout')}" class="roll-nav roll-right J_tabExit"><i class="fa fa fa-sign-out"></i> 退出</a>
				</div>
				<div class="row J_mainContent" id="content-main">
					<iframe id="iframe_default" src="{:U('agent/Order/index')}" class="J_iframe" name="iframe0" width="100%" height="100%" frameborder="0" data-id="default" seamless></iframe>
				</div>
				<div class="footer">
					<div class="pull-right">&copy; 2017-2027
						<a href="" target="_blank">111111.com</a>
					</div>
				</div>
			</div>
			<!--右侧部分结束-->

		</div>
		<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="__PUBLIC__/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/layer/layer.min.js"></script>
		<script src="__PUBLIC__/Admin/js/hplus.min.js?v=4.1.0"></script>
		<script type="text/javascript" src="__PUBLIC__/Admin/js/contabs.min.js"></script>
		<script src="__PUBLIC__/Admin/js/plugins/pace/pace.min.js"></script>
	</body>
<script>
	var points=0;
	var xinxi =0;
    hello();
    function hello(){
        $.ajax({
            url: "{:U('Agent/Index/getmsg')}",
            type: "post",
            dataType:'json',
            success:function(res){
                $(".weichuli").html(res.points);
                $(".liuyan").html(res.liuyan);
                if(res.points ==0){
                    //不响起
				}else {
                    if (points < res.points){
                        //响起
                        bf()
					}
				}

                xinxi =res.liuyan;
                points =res.points;
            }
        });
    }
    //重复执行某个方法
    var t1 = window.setInterval(hello,1000);
    var t2 = window.setInterval("hello()",5000);
    //去掉定时器的方法
    window.clearInterval(t1);

	function bf() {
        var audio = document.getElementById('music1');
        if(audio.paused){
            audio.play();
        }else{
            audio.pause();// 这个就是暂停
        }
    }
//    function liuyan(){
//	    alert();
//        $(window.parent.document).find(".J_iframe").attr("src", "9999");
//    }

</script>
</html>