<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/iconfont.css?v=20171111">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/common.css?v=20171111">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/style.css?v=20171111">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/emoji.css">
    <style type="text/css"></style>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        var puri = "http://v4.dgtztz.com";
    </script>
    <script src="__PUBLIC__/Home/Carhome/js/layer.js" type="text/javascript" charset="utf-8"></script><link href="__PUBLIC__/Home/Carhome/js/need/layer.css?2.0" type="text/css" rel="styleSheet" id="layermcss">
    <script src="__PUBLIC__/Home/Carhome/js/xsapp.js?v=20171111" type="text/javascript" charset="utf-8"></script>
    <title>用户登陆</title>
</head>
<body class="loginbg">
<div style="padding: 20px 0 10px 0; text-align: center; font-size:25px;color: #fff">
    <i class="iconfont" style="font-size: 40px;"></i> 用户登陆
</div>
<div class="weui-cells weui-cells_form" style="margin: 5% 5%; padding: 5% 0; border-radius: 10px;">
    <div class="weui-cell" style="padding:15px 15px;">
        <div class="weui-cell__hd"><label class="weui-label">您的手机</label></div>
        <div class="weui-cell__bd weui-cell_primary">
            <input type="text" class="weui-input name" placeholder="您的手机号">
        </div>
    </div>
    <div class="weui-cell" style="padding:15px 15px;">
        <div class="weui-cell__hd"><label class="weui-label">登陆密码</label></div>
        <div class="weui-cell__bd weui-cell_primary"><input type="password" class="weui-input pwd" placeholder="您的登陆密码"></div>
    </div>
    <div class="weui-cell weui-cell_vcode" style="padding:15px 15px;">
        <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" id="code" style="text-align: left;" type="text" placeholder="右侧验证码">
        </div>
        <div class="weui-cell__ft">
            <img style="width: auto; height: 36px;" class="weui-vcode-img" src="/home/publics/verify">
        </div>
    </div>
    <div class="weui-cells__tips"></div>
    <div class="weui-btn-area">
        <a href="#" class="weui-btn weui-btn_primary">登录</a>
    </div>
    <div class="weui-cells__tips" style="color: red;">无法登录请微信联系客服:{$config.kefu_weixin}</div>
    <div class="weui-cells__tips" style="padding-top: 15px; text-align: center;">
        <!--<a href="#" class="reg">注册一个帐户！</a>-->
        <a href="/home/publics/register" class="">注册一个帐户！</a>
        <a href="/home/publics/password" class="forget" style="margin-left: 30%;color: red;">忘记密码?</a>
    </div>
</div>
<!--<div style="text-align: center; color:#fff; position: fixed; bottom:3%; width: 100%;">-->
    <!--2017 © 多彩种测试房</div>-->
<div id="sloading" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast" style="width: 30% !important; left: 45%;">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">正在登陆中</p>
    </div>
</div>
<script>
    $(function() {
        $('.rember').click(function(){
            zy.setcc("xw_loign_rm",$(this).prop('checked') ? 1:0);
            if(zy.getcc('xw_loign_rm') != '1'){zy.delcc("xw_login_uname");zy.delcc("xw_login_pwd");}
        });
        var load_rm_user = function(){
            if(zy.getcc('xw_loign_rm') == '1'){
                var a = zy.getcc('xw_login_uname'),b = zy.getcc('xw_login_pwd');
                $('.rember').prop("checked",true);
                if(a) $(".name").val(a);if(b) $(".pwd").val(b);
            }
        };
        load_rm_user();
        <?php
            $data =M('config')->where('id =1')->find();
        $datares =$data['kefu'];
            ?>
        $(".reg").click(function(){
            zy.alert("截图保存二维码，微信扫一扫识别打开<br>使用微信扫码完成注册！<br><img style='    width: 121px;height: 121px;' src='/Uploads{$url}'>")
        });
        $(".weui-btn_primary").click(function(){
            var d = {name:$(".name").val(),pwd:$(".pwd").val(),code:$("#code").val()}
            if(d.name && d.pwd && ($("#code").length== 0 || d.code)){
                $("#sloading").show();
                $.ajax({
                    type:"post",
                    dataType: "json",
                    url:"/home/publics/logindo",
                    data:d,
                    success:function(res){
                        $("#sloading").hide();
                        if(res.status==1){
                            zy.msg(res.info);
                            setTimeout(function(){
                                location.href = res.url;
                            },300);
                        }else{
                            upimg($(".weui-vcode-img"));
                            zy.msg(res.info);
                        }
                    },
                    error:function(){
                        $("#sloading").hide();
                        zy.alert("网络连接出错");
                    }
                });
            }else{
                zy.msg("请填完整填写登陆信息");
            }
        });
        var upimg = function(that){
            var src = '';
            if($(that).attr('src').indexOf('random') == -1) {
                src = $(that).attr('src');
            } else {
                src = $(that).attr('src').split('?')[0];
            }
            $(that).attr('src', src + '?random=' + Math.random());
            $("#code").val('');
        }
        $('.weui-vcode-img').on('click', function() {
            upimg(this);
        });
    });
</script>
<script src="//res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js" type="text/javascript" charset="utf-8"></script>

<section id="ajax_container" class="win-show score-view-box"></section></body>
</html>