<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>后台 - 代理管理</title>
		<meta name="keywords" content="">
		<meta name="description" content="">

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">

	</head>
	<style>
		/*分页样式*/
		.pages a,.pages span {
		    display:inline-block;
		    padding:4px 7px;
		    margin:0 2px;
		    border:1px solid #D5D4D4;
		    -webkit-border-radius:1px;
		    -moz-border-radius:1px;
		    border-radius:1px;
		}
		.pages a,.pages li {
		    display:inline-block;
		    list-style: none;
		    text-decoration:none; color:#3399ff;
		}
		
		.pages a:hover{
		    border-color:#3399ff;
		}
		.pages span.current{
		    background:#3399ff;
		    color:#FFF;
		    font-weight:700;
		    border-color:#3399ff;
		}
		.pages{
			text-align: center;
		}
		/*分页样式*/
		
		.layui-layer{
			top:48px !important;
		}
	</style>
	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">	
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>代理管理</h5>
						</div>
						<div class="ibox-content">
							<div class="row">
								<div class="col-sm-3">
									<form method="post" action="{:U('Admin/agent/daili')}">
										<div class="input-group">
											<input type="hidden" name="tid" value="{}"/>
											<input type="text" required placeholder="请输入代理用户名" name="uname" class="input-sm form-control"> <span class="input-group-btn">
	                                    	<button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>
										</div>
									</form>
								</div>
							</div>
							<div class="" >
								<table class="table table-striped table-hover table-bordered" style="width:auto;overflow:auto;display:inline-block;">
									<thead>
										<tr>
											<th>ID</th>
											<th>用户名</th>
											<th>手机号</th>
											<th>团队人数</th>
											<!--<th>分红比例</th>-->
											<th>下注流水</th>
											<th>派彩金额</th>
											<th>上分</th>
											<th>下分</th>
											<th>输赢</th>
											<th>彩金</th>
											<th>红包</th>
											<th>注册时间</th>
											<th>最近登录ip</th>
                                            <th>最近登录时间</th>
                                            <th>操作</th>
										</tr>
									</thead>
									<tbody>
									<volist name="list" id="vo">
										<tr>
											<td>{$vo.id}</td>
											<td>{$vo.username}</td>
											<td>{$vo.phone}</td>
											<td>{$vo.t_num}</td>
											<!--<td>{$vo.bonus_d}%</td>-->
											<td>{$vo.xpoints}</td>
											<td>{$vo.spoints}</td>
											<td>{$vo.upperfen}</td>
											<td>{$vo.lowerfen}</td>
											<td>{$vo['upperfen']-$vo['lowerfen']}</td>
											<td>{$vo['handsel']}</td>
											<td>{$vo['hbmoney']}</td>
											<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
											<td onclick="showdl('{$vo.ip_dress}')">{$vo.ip_dress}</td>
											<td>{$vo.last_time|date="Y-m-d H:i:s",###}</td>
											<td>
												<a onclick="setcode('{$vo.id}')" class="btn btn-warning">修改密码</a>
												<a onclick="setdo('{$vo.id}')" class="btn btn-warning">修改资料</a>
												<a href="{:U('admin/agent/zhitui',array('uid'=>$vo['id']))}" class="btn btn-warning">代理下线</a>
												<a href="{:U('admin/agent/userlist',array('uid'=>$vo['id']))}" class="btn btn-warning">代理会员</a>
											</td>
										</tr>
									</volist>
									</tbody>
								</table>
							</div>
							<div class="pages">
								{$show}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/Common/layer/layer.js"></script>
	<script>
        $(document).ready(function() {
            $(".i-checks").iCheck({
                checkboxClass: "icheckbox_square-green",
                radioClass: "iradio_square-green",
            })
        });
	</script>
	<script>

        function setcode(id){
            layer.prompt({title: '请输入密码，并确认', formType: 1}, function(val, index){
                layer.close(index);
                $.ajax({
                    type: "post",
                    url: "/admin/agent/password",
                    data: {'password':val,'uid':id},
                    dataType: "json",
                    success: function(data){
                        layer.msg(data.msg);
                    }
                });
            });
        }
        function setdo(id){
            layer.open({
                type: 2,
                title: '修改资料',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '500px'],
                content: "__APP__/Admin/agent/setmessage/id/" + id + ""
            });
        }
        function disable(id){
            layer.confirm('确定要禁用吗？禁用后将不能登录。', {
                btn: ['确定','取消'] //按钮
            }, function(){
                window.location.href="__APP__/admin/agent/disables/id/" + id + ""
            });
        }
        function setfenhon(id,bili) {
            layer.prompt({title: '请输入分红比例，并确认', formType: 3}, function(val, index){
                layer.close(index);
                $.ajax({
                    type: "post",
                    url: "/admin/agent/fenhonbilis",
                    data: {'num':val,'uid':id},
                    dataType: "json",
                    success: function(data){
                        layer.msg(data.msg);
                    }
                });
            });
        }
        function endisable(id){
            layer.confirm('确定要启用吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                window.location.href="__APP__/admin/agent/endisables/id/" + id + ""
            });
        }
        function showdl(ip) {
            //获取最新数据
            $.ajax({
                url: "{:U('admin/Member/showdldo')}",
                type: "post",
                data:{'ip':ip},
                dataType:'json',
                error:function(){
                    parent.layer.open({content: '服务器开小差了~',skin: 'msg',time: 2});
                },
                success:function(res){
                    layer.msg(res);
                }
            });
        }
	</script>
</html>