<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>后台 - 会员上分</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form id="signform" method="post" action="{:U('agent/member/setmessage')}" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">代理名称：<span style="color: red;">{$userinfo.username}</span></label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" id="name" name="name" value="{$userinfo.name}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">电话号码</label>
                            <div class="col-sm-10">
                                <input type="text" id="phone" name="phone" value="{$userinfo.phone}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">QQ号</label>
                            <div class="col-sm-10">
                                <input type="text" id="qqnum" name="qqnum" value="{$userinfo.qqnum}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开户行</label>
                            <div class="col-sm-10">
                                <input type="text" id="bank_dress" name="bank_dress" value="{$userinfo.bank_dress}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">银行卡号</label>
                            <div class="col-sm-10">
                                <input type="text" id="bank_num" name="bank_num" value="{$userinfo.bank_num}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">备注</label>
                            <div class="col-sm-10">
                                <input type="text" id="beizhu" name="beizhu" value="{$userinfo.beizhu}" class="form-control"><span class="help-block m-b-none" style="color: red;"></span>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="{$userinfo.id}"/>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">确认</button>
                            </div>
                        </div>
                    </form>
                    <if condition="$userinfo.status eq 1">
                        <a onclick="disable('{$userinfo.id}')" class="btn btn-danger">禁用</a>
                        <else/>
                        <a onclick="endisable('{$userinfo.id}')" class="btn btn-primary">启用</a>
                    </if>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
<script src="__PUBLIC__/Common/js/ajaxForm.js"></script>
<script src="__PUBLIC__/Common/layer/layer.js"></script>
<script>
    $(function(){
        $('#signform').ajaxForm({
            beforeSubmit: checkForm,
            success: complete,
            dataType: 'json'
        });
        function checkForm(){
        }
        function complete(data){
            if(data.status==1){
                $('.btn-primary').attr('disabled','disabled');
                layer.msg(data.info, function(index){
                    layer.close(index);
                    window.parent.location.href=data.url;
                });
            }else{
                layer.msg(data.info);
                return false;
            }
        }
    });
    function disable(id){
        layer.confirm('确定要禁用吗？禁用后将不能登录。', {
            btn: ['确定','取消'] //按钮
        }, function(){
            window.location.href="__APP__/admin/agent/disables/id/" + id + ""
        });
    }
    function endisable(id){
        layer.confirm('确定要启用吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            window.location.href="__APP__/admin/agent/endisables/id/" + id + ""
        });
    }
</script>
</body>

</html>