<div id="layui-m-layer3" class="layui-m-layer layui-m-layer1">
    <div class="layui-m-layershade"></div>
    <div class="layui-m-layermain">
        <div class="layui-m-layersection">
            <div class="layui-m-layerchild  layui-m-anim-up"
                 style="position:fixed;bottom:0;left:1%;width:98%; min-height:100%; border: none;border-top-left-radius: 10px; border-top-right-radius: 10px; -webkit-animation-duration: .5s; animation-duration: .5s;">
                <div class="layui-m-layercont">
                    <div class="kefu-info">
                        <h4 class="game-tit game-tit-bg"><i class="iconfont"></i><b>财务客服</b><i
                                class="iconfont close_layer"></i></h4>
                        <p>收款码</p>
                        <div class="pic">
                            <img src="/Uploads{$kefu.kefu}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>