<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/style.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/Carhome/css/emoji.css">
    <link rel="stylesheet" type="text/css" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <style type="text/css"></style>
    <script src="https://cdn.bootcss.com/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        var puri = "http://v4.dgtztz.com";
    </script>
    <script src="__PUBLIC__/Home/Carhome/js/layer.js" type="text/javascript" charset="utf-8"></script>
    <link href="__PUBLIC__/Home/Carhome/js/need/layer.css?2.0" type="text/css" rel="styleSheet" id="layermcss">
    <script src="__PUBLIC__/Home/Carhome/js/xsapp.js?v=20171101" type="text/javascript" charset="utf-8"></script>
    <title>个人中心</title>
    <SCRIPT language=javascript>
        <!--
        window.onerror = function () {
            return true;
        }
        // -->
    </SCRIPT>
</head>
<body class="graybg">
<section class="main">
    <div class="wallet">
        <div class="wallet-info">
            <div class="pic">
                <img src="{$userinfo.headimgurl}">
            </div>
            <div class="view">
                <h3>{$userinfo.nickname}</h3>
                <p>UID:{$userinfo.id}</p>
                <p>我的余额：{$userinfo.points}</p>
                <p>我的佣金：{$userinfo.t_add}</p>
            </div>
        </div>
        <div class="mem-tab mem-tab-fixed">
            <ul>
                <li class="hu1">
                    <a href="/Home/Select/commission/type/1.html" class="show_load">今日</a>
                </li>
                <li class="hu2">
                    <a href="/Home/Select/commission/type/2.html" class="show_load">昨日</a>
                </li>
                <li class="hu3">
                    <a href="/Home/Select/commission/type/3.html" class="show_load">一周</a>
                </li>
                <li class="hu4">
                    <a href="/Home/Select/commission/type/4.html" class="show_load">30天</a>
                </li>
            </ul>
        </div>
        <script>
            var ss = '{$type}';
            if (ss == 1) {
                $(".hu1").addClass("on");
            } else if (ss == 2) {
                $(".hu2").addClass("on");
            } else if (ss == 3) {
                $(".hu3").addClass("on");
            } else {
                $(".hu4").addClass("on");
            }
        </script>
        <div class="log-list" style="padding-top: 34%">
            <div id="datalist">
                <empty name="list">
                    <div class="zyui-nodata">
                        <i class="icon"><img src="__PUBLIC__/Home/Carhome/images/nodata.png" alt="暂无数据"></i>
                        <h3>暂无数据</h3>
                    </div>
                    <else/>
                    <table border="1" cellspacing="0" cellpadding="0" class="table table-tongji">
                        <empty name="list">
                            <tr class="ajax_page">
                                <td colspan="6" style="height: 30rem;" class="text-center">
                                    <div class="zyui-nodata">
                                        <i class="icon"><img src="__PUBLIC__/Home/Carhome/images/nodata.png" alt="暂无数据"></i>
                                        <h3>无记录</h3>
                                    </div>
                                </td>
                            </tr>
                            <else/>
                            <tbody>
                            <tr class="ajax_page">
                                <td>期号</td>
                                <td>提供会员</td>
                                <td>奖金</td>
                                <td>时间</td>
                            </tr>
                                <volist name="list" id="vo" mod="5">
                                    <tr class="ajax_page">
                                        <td>{$vo.qihao}</td>
                                        <td> {:getname($vo['id_add'])}</td>
                                        <td>{$vo.points}</td>
                                        <td>{$vo['time']|date='m-d  H:i',###}</td>
                                    </tr>
                                </volist>
                            </tbody>
                            </empty>
                    </table>
                    <div class="pages" style="float:right;margin-right: 20px;font-size: 18px">
                        {$show}
                    </div>
                </empty>
            </div>
        </div>
    </div>
</section>
<footer>
    <ul>
        <li class="">
            <a href="/Home/Select/spread.html">
                <i class="iconfont"></i>推广
            </a>
        </li>
        <li>
            <a href="/Home/Select/sxselect.html">
                <i class="iconfont"></i> 上下分
            </a>
        </li>
        <li class="home ">
            <a href="/?lottery=mall">
                <i class="iconfont"></i> 大厅
            </a>
        </li>
        <li class="on">
            <a href="/Home/Select/person.html">
                <i class="iconfont"></i> 个人中心
            </a>
        </li>
        <li>
            <a href="javascript:;" data-css="bottom:0;" class="kefu ajax_load" data-uri="/Home/Select/kefu.html">
                <i class="iconfont"></i> 客服
            </a>
        </li>
    </ul>
</footer>
<script src="//res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>