<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>后台 - 会员管理</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>
<style>
    /*分页样式*/
    .pages a,.pages span {
        display:inline-block;
        padding:4px 7px;
        margin:0 2px;
        border:1px solid #D5D4D4;
        -webkit-border-radius:1px;
        -moz-border-radius:1px;
        border-radius:1px;
    }
    .pages a,.pages li {
        display:inline-block;
        list-style: none;
        text-decoration:none; color:#3399ff;
    }

    .pages a:hover{
        border-color:#3399ff;
    }
    .pages span.current{
        background:#3399ff;
        color:#FFF;
        font-weight:700;
        border-color:#3399ff;
    }
    .pages{
        text-align: center;
    }
    /*分页样式*/

    .layui-layer{
        top:48px !important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <button class="btn btn-primary" type="submit" onclick="location.reload()">刷新</button>
                    本页：提交充值金额：{$points}
                </div>

                <div class="ibox-content">
                    <!--<div class="row">-->
                    <!--<div class="col-sm-3">-->
                    <!--<form method="post" action="{:U('Admin/Member/index')}">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" required="required" placeholder="请输入用户名" name="nickname" class="input-sm form-control"> <span class="input-group-btn">-->
                    <!--<button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<form method="post" action="{:U('Admin/Member/index')}">-->
                    <!--<div class="input-group">-->
                    <!--<input type="text" required="required" placeholder="请输入用户id" name="userid" class="input-sm form-control"> <span class="input-group-btn">-->
                    <!--<button type="submit" class="btn btn-sm btn-primary"> 搜索</button> </span>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="" >
                        <table class="table table-striped table-hover table-bordered" style="width:auto;overflow:auto;display:inline-block;">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>用户id</th>
                                <th>头像</th>
                                <th>用户名</th>
                                <th>转账类型</th>
                                <th>上下分</th>
                                <th>提交时间</th>
                                <th>申请金额</th>
                                <th>当前余额</th>
                                <th>下注百分比</th>
                                <th>行政费用</th>
                                <th>帐号</th>
                                <th>开户行</th>
                                <th>收款人</th>
                                <th>操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                                <tr>
                                    <td width="20">{$vo.id}</td>
                                    <td width="30">{$vo.userid}</td>
                                    <td width="60"><img style="width: 60px;" src="{$vo.headimgurl}"/></td>
                                    <td width="">{$vo.nickname}</td>
                                    <td width="" style="text-align: center;">
                                        <if condition="$vo['typepay'] eq weixin"><img style="width: 50px;" src="/Public/Home/img/wx.png">微信</if>
                                        <if condition="$vo['typepay'] eq alipay"><img style="width: 50px;" src="/Public/Home/img/zfb.png">支付宝</if>
                                        <if condition="$vo['typepay'] eq yignhangka"><img style="    width:40px;vertical-align:middle" src="/Public/Home/img/yinghangka.png">银行卡</if>
                                        <!--<if condition="$vo['sex'] eq 0">未知</if>-->
                                    </td>
                                    <td>
                                        <if condition="$vo['type2'] eq 1">上分</if>
                                        <if condition="$vo['type2'] eq 0">下分</if>
                                        <if condition="$vo['type2'] eq 4">佣金</if>
                                    </td>
                                    <td width="100">{$vo.time|date="Y-m-d H:i:s",###}</td>
                                    <td width="100" style="text-align: center;font-weight: 700;">{$vo.points}</td>

                                    <td>{$vo.yue}</td>
                                    <td>{$vo['bfb'] * 100}%</td>
                                    <td>
                                        <if condition="$vo['xingzheng']">
                                            {$vo.xingzheng}
                                            <else/>
                                            无
                                        </if>
                                    </td>
                                    <td>{$vo.accountnumber}</td>
                                    <td>{$vo.khh}</td>
                                    <td>{$vo.skr}</td>
                                    <td>
                                        <if condition="$vo['type2'] eq 1">
                                            <a onclick="pass('{$vo.id}','{$vo.nickname}','{$vo.userid}','{$vo.points}','{$vo.yue}')" class="btn btn-primary">通过上分</a>
                                        </if>
                                        <if condition="$vo['type2'] eq 0">
                                            <a onclick="liushui('{$vo.userid}')" class="btn btn-primary" style="background: red">流水比例</a>
                                            <a onclick="passxia('{$vo.id}','{$vo.nickname}','{$vo.userid}','{$vo.points}','{$vo.yue}')" class="btn btn-primary" style="background: red">通过下分</a>
                                        </if>
                                        <a onclick="charge('{$vo.userid}')" class="btn btn-primary">详情</a>
                                        <a onclick="notpass('{$vo.id}','{$vo.userid}','{$vo.userid}','{$vo.points}','{$vo.yue}','{$vo.type2}')" class="btn btn-warning">不通过</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </div>
                    <div class="pages">
                        {$show}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/Common/layer/layer.js"></script>
<script>
    $(document).ready(function() {
        $(".i-checks").iCheck({
            checkboxClass: "icheckbox_square-green",
            radioClass: "iradio_square-green",
        })
    });
</script>
<script>
    function charge(id){
        layer.open({
            type: 2,
            title: '详情',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['400px', '700px'],
            content: "__APP__/Admin/site/seedo/id/" + id + ""
        });
    }
    function integral(id){
        layer.open({
            type: 2,
            title: '会员上分',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['300px', '500px'],
            content: "__APP__/Admin/Integral/index/id/" + id + ""
        });
    }
    function under(id){
        layer.open({
            type: 2,
            title: '会员下分',
            shadeClose: true,
            shade: false,
            maxmin: true, //开启最大化最小化按钮
            area: ['300px', '500px'],
            content: "__APP__/Admin/Integral/under/id/" + id + ""
        });
    }
    function disable(id){
        layer.confirm('确定要禁用吗？禁用后将不能登录。', {
            btn: ['确定','取消'] //按钮
        }, function(){
            window.location.href="__APP__/Admin/Member/disable/id/" + id + ""
        });
    }
    function pass(id,nickname,userid,points,yue){
        layer.confirm('确定要充值吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            //通过提交
            var url = '{:U('Admin/Integral/tongguo')}';
            var data = {'id':id,'nickname':nickname,'userid':userid,'points':points,'balance':yue}
            $.post(url,data,function(result){
                var obj = JSON.parse(result);
                if(obj.status == 1){
                    layer.msg(obj.msg);
                    setTimeout(function(){
                        location.reload();
                    },1000);
//                    setInterval(function() {
//                        location.reload()
//                    }, 1000);
                }else {
                    layer.msg(obj.msg);
                }
            });
        });
    }
    function notpass(id,nickname,userid,points,yue,type) {
        //不通过
        var url = '{:U('Admin/Integral/butongguo')}';
        var data = {'id':id,'nickname':nickname,'userid':userid,'points':points,'balance':yue,'type':type}
        $.post(url,data,function(result) {
            layer.msg('不通过成功')
            location.reload();
        });
    }
    function liushui(id) {
        //不通过
        var url = "{:U('Admin/Member/liushui')}";
        var data = {'uid':id}
        $.post(url,data,function(result) {
            layer.msg(result);
        });
    }
    function passxia(id,nickname,userid,points,yue){
        layer.confirm('确定同意下分成功吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            //通过提交
            var url = '{:U('Admin/Integral/passxia')}';
            var data = {'id':id,'nickname':nickname,'userid':userid,'points':points,'balance':yue}
            $.post(url,data,function(result){
                var obj = JSON.parse(result);
                if(obj.status == 1){
                    layer.msg(obj.msg);
                    setTimeout(function(){
                        location.reload();
                    },1000);
//                    setInterval(function() {
//                        location.reload()
//                    }, 1000);
                }else {
                    layer.msg(obj.msg);
                }
            });
        });
    }

</script>
</body>


</html>